<header class="main-header">
    <div class="container">
        <div class="logo">
            <img src="logo-dark.svg" routerLink="/" alt="Crowe Logo">
        </div>
        <nav class="navbar">
            <ul class="nav-links">
                <li><a routerLink="/user-list"><i class="fas fa-user"></i> Users List</a></li>
                <li><a routerLink="/add-form" class="btn-register"><i class="fas fa-user-plus"></i> Add User</a></li>
            </ul>
        </nav>
    </div>
</header>
