<footer class="main-footer">
    <div class="footer-top">
        <div class="branding">
            <img src="logo-dark.svg" alt="Logo" class="logo">
            <p>Smart decisions. Lasting value.</p>
            <div class="social-icons">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                <a href="#"><i class="fab fa-x-twitter"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
        <div class="footer-links">
            <div>
                <h4>SERVICES</h4>
                <ul>
                    <li><a href="#">Audit</a></li>
                    <li><a href="#">Tax</a></li>
                 
                </ul>
            </div>
            <div>
                <h4>INDUSTRIES</h4>
                <ul>
                    <li><a href="#">Financial Services</a></li>
                    <li><a href="#">Healthcare</a></li>
                   
                </ul>
            </div>
            <div>
                <h4>RESOURCES</h4>
                <ul>
                    <li><a href="#">Insights</a></li>
                    <li><a href="#">Publications</a></li>
                  
                </ul>
            </div>
            <div>
                <h4>COMPANY</h4>
                <ul>
                    <li><a href="#">About Us</a></li>
                  
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="footer-nav">
            <a href="#">Contact Us</a>
            <span>|</span>
            <a href="#">Submit RFP</a>
            <span>|</span>
            <a href="#">Search Careers</a>
            <span>|</span>
            <a href="#">Subscribe to Insights</a>
            <span>|</span>
            <a href="#">Pay Invoice</a>
        </div>
        <p>© 2024 Crowe LLP. All rights reserved.</p>
        <p>
            <a href="#">Disclosure</a> |
            <a href="#">Privacy Policy</a> |
            <a href="#">Terms of Use</a> |
            <a href="#">Do Not Sell My Personal Information</a>
        </p>
    </div>
</footer>
